<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form action="/editproduct/{{result['product_id']}}" method="post">
        <label>Name</label>
        <input type="text" name="pname"  value="{{result['name']}}" required>
        <br>
        <label>Price</label>
        <input type="number" name="price" value="{{result['price']}}" required>
        <br>
        <button type="submit">UPDATE</button>
    </form> 
    <a href="/viewproduct">View Products</a>
    <a href="/addlocation">Add Location</a>
    <a href="/viewlocation">View Locations</a>
    <a href="/addmovement">Add Movement</a>
    <a href="/productmovement">Product Movement</a>
</body>
</html>