<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product Movement</title>
</head>
<body>
    <h1>Product Movement</h1>
    <table>
        <tr>
            <th>Movement ID</th>
            <th>Product Name</th>
            <th>From Location</th>
            <th>To Location</th>
            <th>Date & Time</th>
        </tr>
        {% for dict in movements %}
        <tr>
            <td>{{dict['movement_id']}}</td>
            <td>{{dict['product_name']}}</td>
            <td>{{dict['from_location_name']}}</td>
            <td>{{dict['to_location_name']}}</td>
            <td>{{dict['Date_Time']}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/addproduct">Add Product</a>
    <a href="/viewproduct">View Products</a>
    <a href="/addlocation">Add Location</a>
    <a href="/viewlocation">View Locations</a>
    <a href="/addmovement">Add Movement</a>
</body>
</html>