<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Locations</title>
</head>
<body>
    <h1>View Location</h1>
    <table>
        <tr>
            <th>Location ID</th>
            <th>Location Name</th>
        </tr>
        {% for dict in locations %}
        <tr>
            <td>{{dict['location_id']}}</td>
            <td>{{dict['name']}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/addlocation">Add Product</a>
    <a href="/viewproduct">View Products</a>
    <a href="/addlocation">Add Location</a>
    <a href="/addmovement">Add Movement</a>
    <a href="/productmovement">Product Movement</a>
</body>
</html>