<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Products</title>
</head>
<body>
    <h1>View Products</h1>
    <table>
        <tr>
            <td>Product ID</td>
            <td>Product Name</td>
        </tr>
        {% for dict in products %}
        <tr>
            <td>{{dict['product_id']}}</td>
            <td>{{dict['name']}}</td>
            <td><a href="/editproduct/{{dict['product_id']}}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/addproduct">Add Product</a>
    <a href="/addlocation">Add Location</a>
    <a href="/viewlocation">View Locations</a>
    <a href="/addmovement">Add Movement</a>
</body>
</html>