<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Products</title>
</head>
<body>
    <h1>View Products</h1>
    <table border="1">
        <tr>
            <td>Product ID</td>
            <td>Product Name</td>
        </tr>
        {% for dict in products %}
        <tr>
            <td>{{dict['product_id']}}</td>
            <td>{{dict['name']}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>